.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid var(--primary-color);
    background-color: var(--border-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 3px 6px var(--shadow-color);
}

.profile-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}